<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link th:insert="body1::head">
    <style>
        #image{
            max-width: 90px;
            max-height: 90px;
        }
        #image1{
            max-width: 90px;
            max-height: 90px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="body1::#header"></div>

    <div th:replace="body1::#side"></div>

    <div th:insert="body1::#script"></div>

    <div class="layui-body" id="body">
        <div th:each="question,stats:${questions}">
            <div style="padding: 20px; background-color: #F2F2F2;" >
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <label></label>
                        <div class="layui-card-header" th:text="'名字：'+${question.question.userNameAndId}">标题</div>
                        <div class="layui-card-body">
                            <span th:text="${question.question.questionText}"></span>
                            <div th:each="image,stats:${question.question.questionImage}">
                                <div class="layui-col-md3">
                                    <a th:if="${image}!=null" th:href="@{${image}}">
                                        <img th:src="${image}" id="image" />
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                <legend>评论</legend>
                            </fieldset>
                            <div th:each="an,stats:${question.answer}">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header" th:text="${an.userNameAndId}"></div>
                                        <div class="layui-card-body" th:text="${an.answerText}"></div>
                                        <div class="layui-col-md3">
                                            <a th:if="${an.answerImage}!=null" th:href="@{${an.answerImage}}">
                                                <img th:src="${an.answerImage}" id="image1">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>