<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="body1::head">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div th:replace="body1::#header"></div>
    <div th:replace="body1::#side"></div>

    <div class="layui-body" id="body">
        <!-- 内容主体区域 -->
		<form class="layui-form" action="/student/updatePassword" method="post">

			<div class="layui-form-item">
				<div class="layui-col-md7">
					<label th:text="${msg}" class="layui-bg-red"></label>
					<br>
					<label class="layui-form-label">新密码</label>
					<div class="layui-input-block">
						<input type="text" name="newPassword" lay-verify="title" autocomplete="off" placeholder="请输入新密码" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
			    </div>
			  </div>
		</form>
		<!--内容结束 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 张汛的毕业设计作品 2021.2
    </div>
</div>
<div th:insert="body1::script"></div>
</body>
</html>