<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:include="body::head">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div th:replace="body::#header"></div>
    <div th:replace="body::#side"></div>

    <div class="layui-body" id="body">
        <!-- 内容主体区域 -->
		<div class="layui-row layui-col-space15">
			
		    <div class="layui-col-md4">
		      <div class="layui-card">
		        <div class="layui-card-header layui-bg-green">工号</div>
		        <div class="layui-card-body">
		          [[${teacher.tchId}]]<br>

		        </div>
		      </div>
		    </div>
			<!--信息之间产生间距-->
			<div class="layui-col-md1"></div>
			
		    <div class="layui-col-md4 ">
		      <div class="layui-card">
		        <div class="layui-card-header layui-bg-green">姓名</div>
		        <div class="layui-card-body">
					[[${teacher.tchName}]]<br>

		        </div>
		      </div>
		    </div>
		
			<div class="layui-col-md4">
			  <div class="layui-card">
			    <div class="layui-card-header layui-bg-green">手机号</div>
			    <div class="layui-card-body">
					[[${teacher.tchPhone}]]<br>

			    </div>
			  </div>
			</div>
			
			<!--信息之间产生间距-->
			<div class="layui-col-md1"></div>
			
			<div class="layui-col-md4">
			  <div class="layui-card">
			    <div class="layui-card-header layui-bg-green">QQ</div>
			    <div class="layui-card-body">
					[[${teacher.tchQQ}]]<br>
			    </div>
			  </div>
			</div>
			
		
		</div>
		<!--内容结束 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 张汛的毕业设计作品 2021.2
    </div>
</div>
<div th:insert="body::#script"></div>
</body>
</html>