<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="body::#head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>教师信息</title>
    <link rel="stylesheet" href="../../static/student/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div th:replace="body::#header"></div>
    <div th:replace="body::#side"></div>

	
    <div class="layui-body layui-col-space7" id="body">
		<!--内容主体-->
		<div class="layui-row layui-col-space15">
			<div class="layui-card">
			  <div class="layui-card-header">直接上传excel表格，即可给群体学生授权</div>
			  <div class="layui-card-body">
			    <a href="" class="layui-btn ">上传excel表格</a>
			  </div>
			</div>
			<div id="" class="layui-icon-align-center layui-col-space10">
				
			</div>
			<div class="layui-card">
			  <div class="layui-card-header">上传excel中有学生遗漏，请单个授权</div>
			  <div class="layui-card-body">
			    <form class="layui-form" action="">
			      <div class="layui-form-item">
			        <label class="layui-form-label">学生学号：</label>
			        <div class="layui-input-block">
			          <input type="text" name="title" required  lay-verify="required" placeholder="请输入学生学号" autocomplete="off" class="layui-input">
			        </div>
			      </div>
			      <div class="layui-form-item">
			      			 			  			  			 			 
			      <div class="layui-form-item">
			        <div class="layui-input-block">
			          <button class="layui-btn layui-col-space10" lay-submit lay-filter="formDemo">立即授权</button>
			        </div>
			      </div>
			      
			    </form>
			  </div>
			</div>
			
		</div>
		<!--内容结束 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 张汛的毕业设计作品 2021.2
    </div>
</div>
<script src="../../static/student/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>