<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>教师后台</title>
    <link rel="stylesheet" href="css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="header">
        <div class="layui-logo">教师信息</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" >
            <li class="layui-nav-item"><a th:href="@{/all/home}" href="">首页</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span sec:authentication="principal.username"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/teacher/information}" href="">基本资料</a></dd>
                    <dd><a th:href="@{/teacher/password}" href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}" href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" id="side">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">教师中心</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/teacher/information}" href="javascript:;">个人信息</a></dd>
                      
                        <dd><a th:href="@{/teacher/password}" href="javascript:;">密码修改</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">我的课程</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/teacher/course}" href="javascript:;">所有课程</a></dd>
                        <dd><a th:href="@{/teacher/grades}" href="javascript:;">学生成绩</a></dd>
                        <dd><a th:href="@{/teacher/addgrades}" href="javascript:;">添加成绩</a></dd>
                        <dd><a  href="javascript:;">教务系统</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a th:href="@{/teacher/studentinfor}" href="">学生信息导入</a></li>
                <li class="layui-nav-item"><a th:href="@{/teacher/up}" href="">上传课程文件</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="body">
        <!-- 内容主体区域 -->
		<div class="layui-form">
		  <table class="layui-table">
		    <colgroup>
		      <col width="150">
		      <col width="150">
		      <col width="200">
		      <col>
		    </colgroup>
		    <thead>
		      <tr>
		        <th>人物</th>
		        <th>民族</th>
		        <th>出场时间</th>
		        <th>格言</th>
		      </tr> 
		    </thead>
		    <tbody>
		      <tr>
		        <td>贤心</td>
		        <td>汉族</td>
		        <td>1989-10-14</td>
		        <td>人生似修行</td>
		      </tr>
		      
		    </tbody>
		  </table>
		</div>
		<!--内容结束 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 张汛的毕业设计作品 2021.2
    </div>
</div>
<div id="script">
<script src="layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</div>
</body>
</html>