<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ahau.graduationproject.mapper.ImportFileMapper">
    <insert id="save">
        insert  into stu_infor(stu_id, stu_name) values
             <foreach collection="students"  item="item"  separator="," >
                 (#{item.stuId},#{item.stuName})
              </foreach>

    </insert>
    <insert id="saveGrades">
        insert  into grades(s_id, c_id, grade) values
        <foreach collection="students"  item="item"  separator="," >
            (#{item.stuId},#{item.courseId},#{item.grade})
        </foreach>
    </insert>

    <insert id="saveCourseToStudent">
        insert  into t_course_student(stu_id, c_id) values
        <foreach collection="students"  item="item"  separator="," >
           (#{item.stuId},#{item.courseId})
        </foreach>
    </insert>
</mapper>