<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ahau.graduationproject.mapper.TeacherMapper">
    <update id="updatePassword">
        update tch_infor set tch_password=#{password} where tch_id=#{id}
    </update>
    <update id="updateGradesById">
        update grades set grades.grade=#{grade} where s_id=#{id} and c_id=#{courseId}
    </update>
    <select id="selectTeacherInfor" resultType="edu.ahau.graduationproject.domain.Teacher">
        select * from tch_infor where tch_id=#{id}
    </select>


    <resultMap id="courseOfteacher" type="edu.ahau.graduationproject.dto.CourseOfTeacherDTO">
        <result property="courseId" column="c_id" />
        <result column="c_name" property="courseName"/>
        <result column="number" property="studentNumber"/>
    </resultMap>

    <select id="selectStudentNumber" resultMap="courseOfteacher">
        select count(tcs.stu_id) as number,c_name,c.c_id
        from t_course_student tcs left join course c on tcs.c_id = c.c_id
        where tcs.c_id=#{id}

    </select>
    <select id="selectCourseIDById" resultType="java.lang.String">
        SELECT
            DISTINCT c.c_id
        FROM
            course c
                LEFT JOIN t_teacher_course ttc ON c.c_id = ttc.c_id
        WHERE
            ttc.t_id=#{id}
    </select>

    <resultMap id="allStudentGrades" type="edu.ahau.graduationproject.dto.AllStudentGradesDTO">
        <result column="grade" property="grade" />
        <result column="stu_id" property="id"/>
        <result column="c_name" property="course"/>
        <result column="stu_name" property="username"/>
        <result column="c_id" property="courseId"/>
    </resultMap>
    <select id="selectAllStudentGrades" resultMap="allStudentGrades">
        select g.grade,si.stu_id,c.c_name,si.stu_name,g.c_id from grades g
                          right join course c on g.c_id = c.c_id
                          LEFT JOIN t_teacher_course ttc on ttc.c_id = c.c_id
                          LEFT JOIN tch_infor ti on ttc.t_id = ti.tch_id
                          left join stu_infor si on si.stu_id=g.s_id
        where g.c_id= #{courseID}
    </select>
</mapper>