<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>论坛首页</title>
    <link th:include="allbody.html::head">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:insert="allbody.html::#header"></div>
    <div th:insert="allbody.html::#side"></div>
    <div th:insert="allbody.html::#script"></div>
<div class="layui-body">
    <form class="layui-form" action="/all/raiseque" method="post" enctype="multipart/form-data">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">题目文本域</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="text" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-upload">
            <label class="layui-form-label">请上传图片</label>
            <input name="photos" type="file" multiple>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="*" onClick="window.location.reload('raisequestion.html');">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</div>

</body>
</html>